section.checker.block
    p.checker__desc Чтобы мы знали, кому отчитаться, чтобы видеть текущие задачи и чтобы посмотреть на наше красивое портфорлио, авторизуйтесь
    .checker__controls
        .checker__button.btn Авторизоваться
