section.feedback.block
    .feedback-form.form
        .feedback-form__title.title Оставь нам фидбек
        textarea(rows=7).feedback-form__textarea.form__textarea
        .feedback-form__controls.form__controls
            .feedback-form__button.btn Отправить
    .feedback__empty-space
