header.header.block-full
    .header__block-logo
        .header__img-logo
    nav
        ul.menu
            li.menu__item Home
            li.menu__item About
            li.menu__item.menu__item_active Exit
