section.promo.block
    img(src="img/promo.png", itemprop="image", alt="promo img").promo__img

    .promo__text-side
        .promo__title.title(itemprop="name") WV Production
        .promo__text(itemprop="description") Мы команда компании Web4Tech, которая может разработать любую задачу. Сайт, лендинг, банер, брендинг, логотип.
