doctype html
html
    include includes/head.pug
    body
        include includes/header
        main(itemscope, itemtype="http://schema.org/Product")
            article
                include includes/promo
                include includes/help
                include includes/checker
                include includes/notification
                include includes/feedback






